// USER VARIABLES SECTION

$accent: #1B4C80 // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$colorF5: #F5F5F5
$color9: #999
$gray: #DBDBDB
$white: #fff
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$roboto: Roboto, sans-serif // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap')

// @mixin font($fname, $fstyle, $fweight, $furl)
// 	@font-face	
// 		font-family: $fname
// 		font-style: $fstyle
// 		font-weight: $fweight
// 		// font-display: swap // Uncomment to initially display system fonts
// 		src: local($fname), url($furl) format('ttf')

// @include font('Roboto-regular', normal, 400, '../fonts/Roboto-Regular.ttf')
// // @include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2')
// // @include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2')
// @include font('Roboto-bolditalic', italic, 700, '../fonts/Roboto-BoldItalic.ttf')
// @include font('Roboto-light', normal, 300, '../fonts/Roboto-Light.ttf')
// // @include font('Roboto', normal, 500, '../roboto-medium-webfont.woff2')


// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $roboto
	font-size: $fontsize
	min-width: 320px
	position: relative
	// line-height: 1.65
	overflow-x: hidden
	color: $textcolor
