@import config

body
	background: $accent
	display: flex
	justify-content: center

h1
	font-size: 22px
	font-family: $roboto
	color: $textcolor
	font-weight: 300
	margin: 0
	line-height: 1.5

h2
	font-size: 15px
	font-family: $roboto
	color: $accent
	font-weight: 700
	margin: 0
	line-height: 1.5
.h2-time
	color: $textcolor

h3
	font-size: 11px
	font-family: $roboto
	color: $textcolor
	font-weight: 700
	margin: 0
	line-height: 1.5

h4, p
	font-size: 8px
	font-family: $roboto
	color: $textcolor
	font-weight: 400
	margin: 0
	line-height: 1.5ы

.h3-info
	color: $color9

.content
	width: 484px
	border: 1px solid $color9
	border-radius: 4px
	padding: 5px 10px
	.content_header
		h2, h3 
			display: inline
		h3
			margin-left: 5px
	.content-thumbs
		display: flex
		flex-wrap: wrap
		margin-top: 5px
		.thumb
			margin-right: 35px
			margin-bottom: 5px
			&:last-child
				margin-right: 0
			.group
				display: flex
				.h3-info
					margin-left: 3px
			&-icon
				display: flex
				align-items: center
				.thumb-text
					margin-left: 10px


		

.A4
	width: 600px
	position: absolute
	background: #fff
	margin: 20px 0
	padding: 20px

	header
		display: flex
		justify-content: space-between
	
	.chapters
		margin-top: 24px
		.chapter
			margin-top: 15px
			display: flex
			justify-content: space-between
			&-information
				display: block
				p
					margin-top: 5px
			&:first-child
				margin-top: 0px
		.rout
			.content
				.rout-thumb
					border-top: 1px solid $color9
					margin-top: 5px
					.grid
						display: flex
					&:first-child
						margin-top: 0
						border: none
						.content_header
							margin-top: 0
					.content_header
						margin-top: 10px
						h2
							margin-right: 2px
					.content-thumbs
						margin-top: 10px
						.thumb
							margin-bottom: 7px
					.timeline
						display: flex
						justify-content: space-between
						margin-top: 10px
						margin-right: 35px
						position: relative
						z-index: 2
						width: 156px
						.air
							margin-top: 22.5px
						.sity
							display: inline-flex
							flex-direction: column
							align-items: center
							.radius	
								width: 8px
								height: 8px
								border: 1px $textcolor solid
								border-radius: 4px
								background: $white
								display: inline-block
							.sity-info
								display: flex
								.h3-info
									margin-left: 4px
							&:last-child
								align-items: flex-end
							&:first-child
								align-items: start
					.line
						width: 156px
						height: 1px
						background-color: $color9
						position: relative
						z-index: 1
						bottom: 20px
		.price
			.content-thumbs__price
				.thumb
					margin: 0 5px
					margin-bottom: 5px
					&:last-child
						margin-right: 0
					&:first-child
						margin-left: 0
					h2
						line-height: 13px




		




